body {
    margin: 0;
    background: #80f080;
    height:100vh;
    font-size: 50px;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 8fr 2fr;
}

h1 {
    margin: 0;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
#top {
    
}
#low_box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    background: yellow;
    overflow:hidden;
}

#swipe, #addr_swipe {
    height: 100%;
    width: 100%;
}

#left_box {
    background:red;
    grid-column-start: 1;
    grid-row-start: 1;
    overflow:auto;
}
#right_box {
     grid-column-start: 2;
    grid-row-start: 1;
    background: orange;
}

#address_map {
    font-size: 50px;
}

#address_entry {
     font-size: 50px;
}

#find_all, #set_address, #change_addresses, #sort {
    font-size: 50px;
}
